body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    max-width: 1920px;
    height: 420px;
    margin: 150px auto;
    background-color: black;
    position: absolute;
}

.content {
    margin: 0 auto;
    margin-top: 192px;
    width: 230px;
    border-bottom: 1px solid white;
    text-align: center;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 32px;
    margin-top: 0px;
}


.conteiner-images {
    width: 230px;
    height: 20px;
    margin: 25px auto;
}

#Face {
    width: 6.59px;
}

.conteiner-images img {
    height: 14.13px;
    width: 14.18px;
    margin-left: 34px;
    transition: all .25s;
}

p {
    color: white;
    text-align: center;
    font-family: OpenSans-Semibold;
    margin-top: 60px;
}

.col {
    color: #00E1FF;
}